<% include header.ejs %>
<link href='/css/style.css', rel='stylesheet', type='text/css'>
<link href="/icheck/icheck.css" rel="stylesheet">
<style type="text/css">
</style>
<body>

<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation" id="title">
  <div class="navbar-header page-scroll">
    <a href="/">
      <div class="logo">APIMANAGE</div>
    </a>
    <div class="icon">
      <a href="#intro">API介绍</a>
      <label class="icon-item"><a href="#add">添加API</a></label>
    </div>
  </div>
</nav>

<div class="content">
  <div class="col-sm-10 api-content">
    <section class="sec-content apiactive" id="add" style="display:block">
      <p>API名称:</p>
      <div class="code-content">
        <input type="text" name="app_name" id="appname" placeholder="获取XX信息">
      </div>
      <p>描述:</p>
      <div class="code-content">
        <input type="text" name="app_name" id="appname" placeholder="获取XX的XX详情">
      </div>
      <p>URI:</p>
      <div class="code-content">
        <input type="text" name="app_name" id="appname" placeholder="http://moreapi.leanapp.cn/classtb/getProData">
      </div>
      <p>HTTP请求方式</p>
      <div class="code-content">
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-text">GET</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a >GET</a></li>
            <li><a >POST</a></li>
          </ul>
        </div>
      </div>
      <p>请求参数</p>
      <div class="code-content">
        <div class="parameter-list">
          <p>depart 学院(eg:计算机学院)</p>
        </div>
        <div>
          <input type="text" name="app_name" style="width:150px;" id="appname" placeholder="参数名">
          <input type="text" name="app_name" style="width:150px;" id="appname" placeholder="参数类型">
          <input type="text" name="app_name" style="width:150px;" id="appname" placeholder="参数描述">
          <input type="text" name="app_name" style="width:150px;" id="appname" placeholder="参数备注">
          <div class="check">
            <input type="checkbox" name="quux[1]" id="input-1">
            <label for="input-1">必须参数</label>
          </div>
          
        </div>
      </div>
      <p>调用示例</p>
      <div class="code-content">
        <input type="text" name="app_name" id="appname" placeholder="http://moreapi.leanapp.cn/classtb/getProData">
      </div>
      <p>返回结果</p>
      <div class="code-content">
        <p>
          <span class="pln">{</span>
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;"code":200,</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;"message":"success",</p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;"data":
          <span class="pln">{</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"本部"：
          <span class="pln">{ ...... }</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"龙泉"：
          <span class="pln">{ ...... }</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="pln">}</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;"grade":
          <span class="pln">{</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;["2011级","2012级",...]
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="pln">}</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;"class":
          <span class="pln">{</span>
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;["01班","02班",...]
        </p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="pln">}</span>
        </p>
        <p>
          <span class="pln">}</p>
          <p></section>
        </div>
</div>

<% include footer.ejs %>
<script type="text/javascript" src="/icheck/jquery.icheck.min.js"></script>
<script>
  //请求该api接口
  $(function(){
    $('.check input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio-blue'
    });

    //获取当前链接
    // var appid = 
    var search = location.search;
    if(search){
      var id = search.split("?appid=")[1];
    }else{
      location.href="/";
    }
    console.log(id);
    

    //获取项目列表
    var data = {id:id};
    var url = "/app/detail";
    var type = "GET"; 
    sendQuery(url,type,data,{
      success:function(result){
        //获取当前项目名称
        var data = result.data;
        // $(".logo").text(data.app_name);
      },
      error:function(error){
        alert(error.message);
        console.log(error);
      }
    })
  })

  //提交表单
  $(document).on("click","#create",function(){
    //获取所有表单数据
    var data = $("#form").serializeArray();
    var url = "/app/create";
    var type = "GET"; 
    sendQuery(url,type,data,{
      success:function(result){
        console.log(result);
        var data = result.data;
        alert("创建成功");
        window.location.reload();
      },
      error:function(error){
        alert(error.message);
        console.log(error);
      }
    })
  })
</script>
</html>